language: node_js
node_js:
    - "6.9.1"
sudo: required
branches:
    only: 
        - master
cache:
    directories:
        - node_modules
notification:
    email: false
before_install:
    - 'npm install -g typescript'
script:
    "npm test"
after_success:
  - bash <(curl -s https://codecov.io/bash)