language: node_js
node_js:
    - "6.9.1"
sudo: required
branches:
    only: 
        - master
notification:
    email: 
        - false
cache:
    derectories:
        
addons: 
    apt:
        packages:
            - xvfb
before_install:
    - 'npm install -g typescript'
install: 
- export DISPLAY=':99.0'
- Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
- npm install
script:
    "npm test"
after_success:
  - bash <(curl -s https://codecov.io/bash)