html {
    background-color: #424242;
}
#app-view {
    width: 90%;
    margin: auto;
    height: 98%;
}

#title {
    font-family: sans-serif;
    font-size: 3rem;
    font-weight: bold;
    margin: 2px auto 0;
    border: grey solid 1px;
}

#full-content {
    text-align: center;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('Material.Icons.Font.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}