.detail-view {
    display: flex;
    flex-flow:column;
}

#back-button {
    margin-left:0;
    margin-top:0;
    width: 150px;
}

.timers-title {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    justify-content: space-betweem;
    width: 50%;
    margin: auto;
    font-size: 3rem;
}

#title {
    font-size: 3rem;
}

#timers {
    font-size: 2rem;
}

#timers-list {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.timer {
    margin-bottom: 5px;
    width: 33%;
}

.buttons {
    margin: auto 0;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 25%;
}

.timer-settings {
    width: 100%;
}

.timer-settings {
    display: flex;
    flex-flow: column;
}

.time-wrapper, .settings-bottom {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    justify-content: flex-start;
    font-size: 1.5rem;
}

.timer-switch {
    margin-left:15px;
    
}

.time {
    width: 55px;
}

.am {
    margin: auto;
}

.switch-choice {
    font-size: 1.5rem;
    margin-top:0;
}

.form-element {
    margin-left: 5px;
}

.on-off {
    margin: auto;
    width: 25%;
}

.days {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-bottom: 15px;
}

.day-button {
    width: 36px;
    height: 36px;

}

.day-button span {
    line-height: unset;
}

.selected {
    color: rgba(255, 255, 255, .87);
}

.unselected {
    color: #424242;
}

